<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<h1>Developer Report</h1>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Operating System</th>
            <th>PATH</th>
            <th>Kernel</th>
            <th>Python Version</th>
            <th>Package Manager</th>
            <th>System Date Time</td>
        </tr>
    </thead>
    <tbody>
{% for linux_node in groups['all'] %}
        <tr>
            <td>{{ hostvars[linux_node]['ansible_hostname'] }}</td>
            
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
