ansible-navigator.log
sean_login_info.yml
.DS_Store
choose_demo.yml
choose_demo_example_azure.yml
choose_demo_example_aws.yml
.ansible.cfg
*.gz
*artifact*.json
**/roles/*
!**/roles/requirements.yml
.deployment_id
