---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        # ignore formatting-prettier to have an accurate prettier comparison
        exclude: >
          (?x)^(
            collections/ansible_collections/demo/compliance/roles/.*|
          )$
      - id: trailing-whitespace
        exclude: >
          (?x)^(
            collections/ansible_collections/demo/compliance/roles/.*|
          )$
      - id: mixed-line-ending
        exclude: >
          (?x)^(
            collections/ansible_collections/demo/compliance/roles/.*
          )$
      - id: fix-byte-order-marker
        exclude: >
          (?x)^(
            collections/ansible_collections/demo/compliance/roles/.*
          )$
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-L", "sumbit,UserA"]
        exclude: >
          (?x)^(
            collections/ansible_collections/demo/compliance/roles/.*|
          )$
        additional_dependencies:
          - tomli
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.2
    hooks:
      - id: toml-sort-fix
        alias: toml
...
