---
kind: Secret
apiVersion: v1
metadata:
  name: {{ eda_controller_project_app_name }}-admin-password
  namespace: {{ eda_controller_project }}
  labels:
    app.kubernetes.io/component: eda
    app.kubernetes.io/managed-by: eda-operator
    app.kubernetes.io/name: {{ eda_controller_project_app_name }}
    app.kubernetes.io/operator-version: '2.4'
    app.kubernetes.io/part-of: {{ eda_controller_project_app_name }}
data:
  password: "{{ lookup('ansible.builtin.env', 'CONTROLLER_PASSWORD') | b64encode }}"
type: Opaque
