

  <div class="wrapper">
    <header>
      <div class="header-container">
        <a href="https://ansible.com">
          <img
            class="header-logo"
            src="redhat-ansible-logo.svg"
            title="Red Hat Ansible"
            alt="Red Hat Ansible"
          />
        </a>
      </div>
    </header>
