---
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded

output.console:
  enabled: true
  pretty: true

logging.level: info
logging.to_files: false
