p.hostname {
    color: #000000;
    font-weight: bolder;
    font-size: large;
  }
  
  #subtable {
    background: #ebebeb;
    margin: 0px;
  }
  
  #subtable tbody tr td {
    padding: 5px 5px 5px 5px;
  }
  
  #subtable thead th {
    padding: 5px;
  }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica";
  
  }
  
  a {
    color: #ffffff;
  }
  
  p {
    color: #ffffff;
  }
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  body {
    background:#353a40;
  }
  
  table {
    border-collapse: separate;
    background:#fff;
    @include border-radius(5px);
    margin:50px auto;
    @include box-shadow(0px 0px 5px rgba(0,0,0,0.3));
  }
  
  thead {
    @include border-radius(5px);
  }
  
  thead th {
    font-family: 'Patua One', monospace;
    font-size:16px;
    font-weight:400;
    color:#fff;
    @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
    text-align:left;
    padding:20px;
    border-top:1px solid #858d99;
    background: #353a40;
  
    &:first-child {
     @include border-top-left-radius(5px);
    }
  
    &:last-child {
      @include border-top-right-radius(5px);
    }
  }
  
  tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0;
  
  }
  
  tbody tr:nth-child(2n) {
    background:#f0f3f5;
  }
  
  tbody tr:last-child td {
    border-bottom:none;
    &:first-child {
      @include border-bottom-left-radius(5px);
    }
    &:last-child {
      @include border-bottom-right-radius(5px);
    }
  }
  
  span.highlight {
      background-color: yellow;
  }
  
  .expandclass {
    color: #5f6062;
  }
  
  .content{
           display:none;
           margin: 10px;
  }