apiVersion: v1
kind: Namespace
metadata:
    name: {{ _operator.namespace.name }}
{% if _operator.namespace.labels is defined %}
    labels:
      {% for key, value in _operator.namespace.labels.items() -%}
      {{ key }}: "{{ value }}"
      {% endfor -%}
{% endif -%}
