---
kind: Secret
apiVersion: v1
metadata:
  name: {{ simple_ah_name }}-admin-password
  namespace: {{ simple_ah_namespace }}
  labels:
    app.kubernetes.io/component: automationhub
    app.kubernetes.io/managed-by: automationhub-operator
    app.kubernetes.io/name: {{ ah_insatnce_project_app_name }}
    app.kubernetes.io/operator-version: '2.4'
    app.kubernetes.io/part-of: {{ ah_instance_project_app_name }}
data:
  password: "{{ lookup('ansible.builtin.env', 'CONTROLLER_PASSWORD') | b64encode }}"
type: Opaque
