  <div class="wrapper">
    <header>
      <div class="header-container">
        <a href="https://ansible.com">
          <img
            class="header-logo"
            src="https://www.ansible.com/hubfs/Logo-Red_Hat-Ansible-A-Reverse-SVG.svg"
            title="Red Hat Ansible"
            alt="Red Hat Ansible"
          />
        </a>
      </div>
    </header>
