---
name: Ansible Lint
on:
 push:
 pull_request_target:

env:
  ANSIBLE_GALAXY_SERVER_AH_TOKEN: ${{ secrets.ANSIBLE_GALAXY_SERVER_AH_TOKEN }}

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      # this action implicitly calls actions/checkout
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6.18.0
