---
name: pre-commit
on:
 - push
 - pull_request # run the code in the PR

jobs:
  pre-commit-25:
    container:
      image: quay.io/ansible-product-demos/apd-ee-25
      options: --user root
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./.github/workflows/run-pc.sh
      shell: bash
