---
name: pre-commit
on:
 - push
 - pull_request_target

jobs:
  pre-commit-25:
    container:
      image: quay.io/ansible-product-demos/apd-ee-25
      options: --user root
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./.github/workflows/run-pc.sh
      shell: bash

jobs:
  pre-commit-24:
    container:
      image: quay.io/ansible-product-demos/apd-ee-25
      options: --user root
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: USE_PYTHON=python3.9 ./.github/workflows/run-pc.sh
      shell: bash

